@import "mixins";

// @import "fonts";
@import "variables";

@import "animation";
@import "buttons";
@import "_additional";


#nav-order a{
	text-transform: capitalize;
	font-size: 18px;
}
#nav-order{
	margin-right: 0px !important;
	padding-right: 0px !important;
}
.button-custom-popup{
	color: #5f3327;
  background-color: #ffb25b;
}
.select-dinning-preferences{
	    color: rgb(95, 51, 39);
    background-color: rgb(255, 178, 91);
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    border: none;
	padding: 15px;
	text-align: center;
	width: 100%;
	display: block; 
}
.woocommerce-mini-cart__buttons.buttons{
	margin-top: 15px;
}
.close-custom{
	position: relative !important;
    font-size: 15px;
    width: 100%;
    font-weight: bolder;
}
.mfp-close.close-custom{
	top: 0 !important;
}
.infor-pickup-title{
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    padding: 15px 0;
}
.infor-pickup-title p{
	text-align: center;
  margin-bottom: 0px;
  color: rgb(95, 51, 39);
  font-weight: 700;
  font-size: 20px;
}
.infor-pickup-content{
	padding: 20px;
}
.infor-pickup-content h3{
	color: rgb(95, 51, 39);
  font-weight: 700;
	font-size: 18px;
	margin-bottom: 10px;
}
.row-infor-pickup{
	display: flex;
	justify-content:space-between;
	margin-bottom: 20px
}
.row-infor-pickup p{
	margin-bottom:0;
	color: rgb(95, 51, 39);
	font-weight: bolder;
}
.items-infor-pickup-content{
	padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}
.items-infor-pickup-content.active{
	border: 1px solid rgb(255, 178, 91);
	
}
.row-items-infor{
	display: flex;
	align-items: center;
	margin: 5px 0;
}
.items-infor-pickup-content.active p{
	color: rgb(95, 51, 39);
}
.row-items-infor p{
	margin-bottom: 0px;
	margin-left: 5px;
}
.time-infor-items{
	background-color: rgb(215, 233, 255);
  color: rgb(12, 98, 202);
	margin-top: 10px;
	padding: 10px;
	border-radius: 7px;
}
.time-infor-items h4{
	margin-bottom: 0px;
	color: rgb(12, 98, 202);
	font-size: 16px;
}
.time-infor-items p{
	margin-bottom: 0px;
	font-size: 16px;
}
.action-pickup{
	padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}
.action-pickup button{
	margin: 0px;
	width: 100%;
	color: rgb(95, 51, 39);
    background-color: rgb(255, 178, 91);
	text-transform: capitalize;
}
.linkmap{
	display: none;
}
.col-infor-store{
	height: 510px;
	overflow-y: auto;
}
.idstore{
	display: none;
}
.pickup_location_field {
	margin-bottom: 10px;
}
.pickup_location_field h4{
	font-size: 85%;
  letter-spacing: 0;
  text-transform: inherit;
}
.pickup_location_field p{
	margin-bottom:0px;
	font-size: 85%;
  letter-spacing: 0;
  text-transform: inherit;
}
