.infor-pickup {
  max-width: 500px;
  margin: 30px auto;

  .infor-pickup-content {
    .wrapper {
      display: flex;
      justify-content: space-between;
    }
    .wrapper-icon {
      width: 200px;
      gap: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .more-date {
        font-size: 16px;
        color: rgb(255, 178, 91);
      }
    }
    .wrapper {
      .wrapper-calendar,
      #calendar {
        width: 100%;
      }
      .wrapper-date-box {
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        .date-box {
          padding: 10px 10px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
          border-radius: 2px;
          -webkit-box-flex: 1;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          -webkit-box-align: center;
          align-items: center;
          border: 2px solid rgb(214, 214, 214);
          background-color: rgb(255, 255, 255);
          z-index: 10;
          &:hover,
          &.active {
            border: 2px solid rgb(57, 57, 57);
          }
          .date,
          .month {
            font-weight: 600;
          }
          .date {
            font-size: 25px;
          }
          cursor: pointer;
          .wrapper-date {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
}
